<ion-view view-title="Tips for Fitness">
  <ion-content>
<div class="list">

  <div class="item item-divider">
    EXERCISE TIME
  </div>

  <a class="item" href="#">
    Moring
  </a>

  <a class="item" href="#">
    Noon
  </a>

  <a class="item" href="#">
    Evening
  </a>

  <a class="item" href="#">
    Night
  </a>

  <div class="item item-divider">
    FOOD
  </div>

  <a class="item" href="#">
    Meat
  </a>

  <a class="item" href="#">
    Vegetables
  </a>

  <a class="item" href="#">
    Dessert
  </a>

</div>
  </ion-content>
</ion-view>

