<ion-view view-title="Fitness">
  <ion-content id="padding">
    <div class="list card">
      <div class="clear item item-divider">Home</div>
      <div class="clear item item-body">
        <div>
           Fitness for Everybody
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="clear item item-divider">Details</div>
      <div class="clear item item-body">
        <div>
          Tips for your fitness.
        </div>
      </div>
    </div>

    <div class="card">
  <div class="clear item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div>

    <div class="list card">
      <div class="clear item item-divider">Favorate</div>
      <div class="clear item item-body">
        <div>
          "Sweety Food" <b>VS</b> "Salty Food"
        </div>
      </div>
    </div>  

  </ion-content>
</ion-view>
